//@img-path: '';
// @{img-path}name-img.jpg

.banner {
  height: 100%;
  min-height: 37.5rem;
  background-image: url('./../../../../assets/images/banner.png'), @bg-gradient-04;
  background-size: cover;
}
